:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #e4e4e4;
    --cinza-escuro: #505050;
    --cor-de-fundo: #459275;
    --verde: #1d8056;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
	background: var(--verde);
	padding: 15px 0;
}

.container {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    width: 18rem;
    height: 18rem;
    padding: 5px;
}

.menu__lista {
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: absolute;
    top: 110px;
    right: 0;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu-link {
    margin-right: 0;
}

.menu__link {
    color: var(--branco-principal);
    margin-right: 2.5rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 25px;
}

.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline
}

.titulo {
    font-size: 30px;
    color: var(--verde);
    background: var(--cinza-secundario);
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 3rem;    
}

.cardapio {
    background: var(--cinza-secundario);
    display: flex;
    flex-wrap: wrap;
}

.bloco {
    background: var(--cinza-secundario);
    flex-direction: column;
    border: 1.5px solid var(--cinza-escuro);
    margin: 3rem; 
    padding: 1rem; 
}

.bloco:hover {
    border: 4px solid var(--cor-de-fundo)
}

.conteudo {
    margin-top: 0,5rem;
    flex-wrap: wrap;
}

.icone {
    height: 200px;
}

.produto {
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    padding-left: 1px;
    color: var(--verde);
}

.descricao {
    font-size: 15px;
    color: #333333;
    line-height: 1.5rem;
    padding-left: 2px;
    padding-top: 2px;
    
}

.preco {
    font-size: 17px;
    color: #333333;
    line-height: 1.5rem;
    padding-left: 2px;
    padding-top: 3px;
    font-weight: bold;
}

.quem_somos {
    font-size: 30px;
    color: var(--verde);
    background: var(--cinza-secundario);
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 3rem;  
}

.texto {
    background: linear-gradient(#e4e4e4, #1d8056);
    font-size: 30px;
    line-height: 2.5rem;
    text-align: justify;
    color: var(--cinza-escuro);
    padding: 5rem 20rem 5rem 20rem;
}

.titulo2 {
    font-size: 30px;
    color: var(--cinza-secundario);
    background: var(--verde);
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 3rem;  
    padding-bottom: 3rem; 
    text-align: justify;
}


.formulario {
    background-color: var(--verde);
	color: var(--branco-principal);
    overflow-x: hidden;
    padding-right: 3rem;
	padding-left: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

#nome {
    width: 50%;
    height: 10%;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

#email {
    width: 50%;
    height: 10%;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

#senha {
    width: 50%;
    height: 10%;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

#celular {
    width: 50%;
    height: 10%;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

.espaco {
    background: var(--verde);
    width: 100%;
    display: flex;
   
}

.botao {
    background-color: var(--cinza-secundario);
    border-radius: 5px;
    padding: 1.125rem;
    color: var(--verde);
    font-size: 1.5rem;
    border-style: solid 2px var(--cinza-escuro);
    padding: 10px 10px;
    cursor:pointer;
    justify-self: end;
    margin-left: 3rem;
    margin-bottom: 2rem;
    align-items: center;
}

.rodape {
    background-color: var(--verde);
    text-align: center;
    padding: 40px 0;
}

.imagem__rodape {
    width: 30%;
    height: 10%;
}


.copyright {
    color: var(--branco-principal);
	font-size: 15px;
}

@media screen and (max-width:450px) {
    .logo {
        max-width: 10rem;
        height: 10rem;
    }
    .menu__lista {
        flex-direction: column;
        top: 50px;
        font-size: 15px;
    }
    .container {
        flex-direction: column;
    }
    .cardapio {
        flex-direction: column;
        text-align: center;

    }
    .texto {
        font-size: 16px;
        padding: 2em;
        text-align: center;
        line-height: 25px;
    }
}