:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #e4e4e4;
    --cinza-escuro: #505050;
    --cor-de-fundo: #5ecfa4;
    --verde: #1d8056;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
	background: var(--verde);
	padding: 15px 0;
}

.container {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    width: 18rem;
    height: 18rem;
    padding: 5px;
}

.menu__lista {
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: absolute;
    top: 110px;
    right: 0;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu-link {
    margin-right: 0;
}

.menu__link {
    color: var(--branco-principal);
    margin-right: 2.5rem;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 25px;
}

.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline
}

.titulo {
    font-size: 30px;
    color: var(--verde);
    background: var(--cinza-secundario);
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 3rem;    
}

.cardapio {
    background: var(--cinza-secundario);
    display: flex;
    flex-wrap: wrap;
}

.bloco {
    background: var(--cinza-secundario);
    flex-direction: column;
    border: 1px solid var(--cinza-escuro);
    margin: 3rem; 
    padding: 1rem; 
}

.conteudo {
    margin-top: 0,5rem;
    flex-wrap: wrap;
}

.icone {
    height: 200px;
}

.produto {
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    padding-left: 1px;
}

.descricao {
    font-size: 15px;
    color: #333333;
    line-height: 1.5rem;
    padding-left: 2px;
}